HKDF's deriveBits() operation does not convert "length" parameter to octets

In HKDF's deriveBits() operation, "length" is passed as the value of "L" for RFC 5869's HKDF expand step:

> 31.4. Operations
> Derive Bits
> 
> Let result be the result of performing the HKDF extract and then the HKDF expand step described in Section 2 of [RFC 5869] using:
> * ...
> * length as the value of L,

The problem is that RFC 5869 defines "L" as the number of octets, whereas in Web Crypto "length" is a number of bits:

>       L        length of output keying material in octets
>                (<= 255*HashLen)

I propose resolving this similarly to how PBKDF2 is worded -- in step 1. check if it is a multiple of 8, or throw an OperationError, then assign length/8 to L)

Note that the WebPlatformTest added by @engelke in https://github.com/w3c/web-platform-tests/commit/d9825b953e107eb0ab8a30fb940d503da9c35e47 made this assumption (and explicitly tests it)