[RSA-PSS 21.4. Operations - Sign]: RFC3447 does not define an EMM-PSS-ENCODE operation, typo?

[Section 21.4. Operations](https://w3c.github.io/webcrypto/#rsa-pss-operations), Sign, Step 2, states:
> Perform the signature generation operation defined in Section 8.1 of [RFC3447] with the key represented by the [[handle]] internal slot of key as the signer's private key, K, and the contents of message as the message to be signed, M, and using the hash function specified by the hash attribute of the [[algorithm]] internal slot of key as the Hash option, MGF1 (defined in Section B.2.1 of [RFC3447]) as the MGF option and the saltLength member of normalizedAlgorithm as the salt length option for the **EMM-PSS-ENCODE** operation.

(emphasis mine)

But [RFC 3447 Section 8.1.1](https://tools.ietf.org/html/rfc3447#section-8.1.1) does not reference a `EMM-PSS-ENCODE` operation, indeed I can't find any such operation in [RFC 3447](https://tools.ietf.org/html/rfc3447).

Instead RFC 3447 defines an [`EMSA-PSS-ENCODE` operation](https://tools.ietf.org/html/rfc3447), which is also referenced in [Section 8.1.1](https://tools.ietf.org/html/rfc3447#section-8.1.1).

This is probably just a typo? (sorry, for noise if I'm just reading the spec wrong)

---------------------
I found this trying to figure out if RSA-PSS in webcrypto specifies the same limits on `saltLength` as [FIPS.186-4, Section 5.5, Step (e)](https://nvlpubs.nist.gov/nistpubs/FIPS/NIST.FIPS.186-4.pdf). So far it that is not the case, Chrome, Firefox and BoringSSL doesn't force any such limits, while Safari does enforce this limit on `saltLength`.

Looks like a typo to me.