PBKDF2 derive bits should throw OperationError when length is zero

WPT has a test for it https://github.com/web-platform-tests/wpt/blob/561fc4c5463673e5291894705c7a6aeb88e78d99/WebCryptoAPI/derive_bits_keys/pbkdf2.js#L118

I'm confused if the underlying implementation (following [RFC 2898 Section 5.2](https://datatracker.ietf.org/doc/html/rfc2898#section-5.2)) should already be validating that. If not so, the spec should consider adding this step.