ECDSA signature verification include derivation of s1 and s2

Section 23.7.2 defining the verification of ECDSA, step 6:
> Perform the ECDSA verifying process, as specified in [[RFC6090](https://w3c.github.io/webcrypto/#bib-rfc6090)], Section 5.3, with M as the received message, signature as the received signature and using params as the EC domain parameters, and Q as the public key.

However, section 5.3 of RFC 6090 doesn't specify a way to turn a binary value into the two required integers s1 and s2. The previous section defining signing does define a way to turn the integers s1 and s2 into a binary value, so section 23.7.2 should too.

Also, as a developer It'd be nice to get an error saying that the signature has a length that means it can't possibly be in the right format for this function.

Also it be nice to mention if the integers are encoded in little or big endian form. Maybe this could be done by saying r and s are bigints, which are defined to be big endia.

> Section 23.7.2 defining the verification of ECDSA, step 6:
> 
> > Perform the ECDSA verifying process, as specified in [[RFC6090](https://w3c.github.io/webcrypto/#bib-rfc6090)], Section 5.3, with M as the received message, signature as the received signature and using params as the EC domain parameters, and Q as the public key.
> 
> However, section 5.3 of RFC 6090 doesn't specify a way to turn a binary value into the two required integers s1 and s2. The previous section defining signing does define a way to turn the integers s1 and s2 into a binary value, so section 23.7.2 should too.
> 
> Also, as a developer It'd be nice to get an error saying that the signature has a length that means it can't possibly be in the right format for this function.

Hi, 
What do you think about https://nvlpubs.nist.gov/nistpubs/FIPS/NIST.FIPS.186-5.pdf? 
Section 6.4.1 for signatures/Section 6.4.2 for verification? 



And then mention that when converting like this the bytes are in big endian order

> But it references https://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-186.pdf. where deep inside we have Appendix F.3. Conversion of an Integer to a Bit String, it's already something

Do you have a pointer to where Section 6.4.1 and Section 6.4.2 of FIPS 186-5 calls that procedure? Simply having that lying around isn't enough to define a format.

Hint, the sections you mention say:

> Output: A pair of integers (r, s), each in the interval [1, n−1]

and

> Input: [...] A pair of integers (r, s)

As far as FIPS 186-5 is concerned, ECDSA signatures are tuples of integers, not byte strings. That is the root of all this.

I dont think that's a good idea, because bigints aren't supposed to have leading zeroes bytes, but about 1 in 256 ECDSA signatures will start with 0x00, and the encoding is fixed width.

We have a function to [convert a non-negative integer _i_ to a byte sequence of length _n_](https://w3c.github.io/webcrypto/#dfn-convert-integer-to-byte-sequence) (which we use in the ECDSA signing algorithm), indeed it would be good to have the reverse as well and then we can use that in the ECDSA verification algorithm.

PRs would be welcome I'd say :)

It turns out RFC 6090 has methods for this in [section 6](https://www.rfc-editor.org/rfc/rfc6090#section-6), so we can refer to those instead. #405 does so, as well as a few other cleanups. Lmk if it looks reasonable :)

@winstonDeGreef:

> Also, as a developer It'd be nice to get an error saying that the signature has a length that means it can't possibly be in the right format for this function.

I agree that throwing an error when the length is incorrect would've made sense, but it turns out we have web platform tests which [require](https://github.com/web-platform-tests/wpt/blob/25669365de86f0fc38fd0b6a53699abad63adc2c/WebCryptoAPI/sign_verify/ecdsa.js#L354-L380) that we return false instead, so I went with that. While it seems unlikely that throwing would be a breaking change, it doesn't seem worth it to risk it as you can manually check yourself whether the signature has the expected length for the given curve fairly easily.